* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  font-family: Lato, sans-serif;
}

.main {
  height: 100vh;
}

.row {
  margin: 0;
}

section {
  height: 100%;
}

.sidebar {
  overflow: auto;
}
.sidebar h2 {
  border-bottom: gainsboro 0.2px solid;
  padding: 12px;
}

.messages {
  padding: 0;
}

.friend-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
.friend-list li {
  border-radius: 3%;
  width: 100%;
  height: 80px;
  background: white;
  margin: 10px 0;
  padding: 5px;
  display: flex;
  border-bottom: 1px solid lightgrey;
}
.friend-list li :hover {
  background: gainsboro;
  cursor: pointer;
}
.friend-list li .friend-list-inner {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.friend-list li .friend-list-inner .friend-name-activity p {
  font-weight: bold;
}
.friend-list li .friend-list-inner .friend-message-date {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
}
.friend-list li .friend-list-inner .last-message {
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}

.active {
  color: green;
}

.friend-name {
  padding-left: 10px;
}

.absence-time {
  float: right;
  padding-right: 15px;
}

.user-header {
  height: 60px;
  border-left: 0.2px solid gainsboro;
  width: 100%;
  align-content: center;
  display: flex;
  flex-direction: column;
}
.user-header .username {
  align-self: center;
  letter-spacing: 1px;
  font-size: 1.5em;
  font-family: Helvetica, sans-serif;
}

.messages-sectors {
  height: calc(100% - 60px);
}
.messages-sectors div {
  border: 0.5px solid gainsboro;
}

.conversation {
  padding: 0;
}

.conversation-window {
  height: 90%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
.conversation-window div {
  border: none;
  margin: 20px 0;
  max-width: 60%;
  border-radius: 25%;
  letter-spacing: 1px;
  height: auto;
}
.conversation-window .my-message {
  padding: 25px;
  text-align: right;
  background: #0069D9;
  color: gainsboro;
  align-self: flex-end;
  border-radius: 20px 20px 0 20px;
  margin-right: 50px;
}
.conversation-window .friend-message {
  text-align: left;
  background: gainsboro;
  padding: 20px;
  border-radius: 20px 20px 20px 0;
  margin-left: 50px;
}
.conversation-window .shown {
  margin: 0 50px;
  align-self: flex-end;
}

.conversation-chat {
  height: 10%;
}
.conversation-chat .user-message {
  border: none;
  padding: 0 15px;
  height: 100%;
  width: 60%;
  font-size: 1.5em;
}
.conversation-chat .btn-primary {
  width: 15%;
  margin: 0 15px;
}

@media screen and (max-width: 1050px) {
  .friend-list-inner {
    display: none !important;
  }

  .conversation-chat {
    font-size: 0.8em;
  }

  .user-message {
    max-width: 50%;
  }

  .friend-list li .friend-list-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidebar h2 {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
